<h2><%= @tune.name %> in <%= @version.transpose.key %></h2>

<% notes_lyrics = @version.transpose.crotchets.zip(@tune.lyrics) %>
<%= render './tunes/tune_crotchets_lyrics', tune: @version.transpose %>

<h3>Players</h3>

<%= render './tunes/tune_players', uniq_notes: @version.transpose.uniq_notes %>

<% if @tune.lyrics.any?(&:present?) %>

  <h3>Parts</h3>

  <% notes_lyrics_chunks = notes_lyrics.chunk { |note, lyric| note }.map { |n, cs| [n, cs.map(&:last)] } %>
  <% uniq_notes = @version.transpose.uniq_notes %>
  <div class="note-count-<%= uniq_notes.size %>">

    <% uniq_notes.each_with_index do |note, i| %>
      <div class="part note-<%= i %>">

        <% players = Player.with_note(note).map(&:name).to_sentence %>
        <h4 ><%= players %></h4>

        <% chunks = notes_lyrics_chunks.find_all { |n, cs| n == note }.map(&:last) %>
        <ol>
          <% chunks.each do |chunk| %>
            <li><%= chunk.join ' ' %></li>
          <% end %>
        </ol>

      </div>
    <% end %>

  </div>

<% end %>
