<% f = defined?(form) ? form : false %>
<% notes_uniq = note_lyrics.map(&:first).uniq %>
<% has_lyrics = note_lyrics.map(&:second).any?(&:present?) %>

<table class="tune note-count-<%= notes_uniq.size %>">
  <% note_lyrics.in_groups_of(16).each do |row| %>
    <tr>
      <% row.each do |note, lyric| %>
        <td class="note-<%=  notes_uniq.index note %>">
          <% if f %>
            <input type="text" name="tune[notes][]" value="<%= note %>" />
          <% else %>
            <%= note %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <% if has_lyrics || f %>
      <tr>
        <% row.each do |note, lyric| %>
          <td class="note-<%=  notes_uniq.index note %>">
            <% if f %>
              <input type="text" name="tune[lyrics][]" value="<%= lyric %>" />
            <% else %>
              <span class="lyric"><%= lyric %></span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
