<% uniq_notes = tune.uniq_notes %>

<table class="tune note-count-<%= Player.unscoped.notes.size %>">
  <% tune.crotchets_lyrics.in_groups_of(16).each do |row| %>
    <tr>
      <% row.each do |note, lyric| %>
        <% if note && note.respond_to?(:player_notes_index) %>
            <td class="note note-<%= note.player_notes_index %>">
        <% else %>
            <td>
        <% end %>
          <%= note %>
        </td>
      <% end %>
    </tr>
    <% if tune.lyrics.present? %>
      <tr>
        <% row.each do |note, lyric| %>
          <% if note && note.respond_to?(:player_notes_index) %>
            <td class="note note-<%= note.player_notes_index %>"><span class="lyric"><%= lyric %></span></td>
          <% else %>
              <td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
