<% f = defined?(form) ? form : false %>
<% uniq_notes = @tune.uniq_notes %>

<table class="tune note-count-<%= uniq_notes.size %>">
  <% @tune.crotchets_lyrics.in_groups_of(16).each do |row| %>
    <tr>
      <% row.each do |note, lyric| %>
        <td class="note-<%=  uniq_notes.index note %>">
          <% if f %>
            <input type="text" name="tune[crotchets][]" value="<%= note %>" />
          <% else %>
            <%= note %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <% if @tune.lyrics.present? || f %>
      <tr>
        <% row.each do |note, lyric| %>
          <td class="note-<%=  uniq_notes.index note %>">
            <% if f %>
              <input type="text" name="tune[lyrics][]" value="<%= lyric %>" />
            <% else %>
              <span class="lyric"><%= lyric %></span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
