<%= form_for @tune do |f| %>
  <h1><%= f.text_field :name %></h1>

  <%= render 'tune_crotchets_lyrics', tune: @tune %>

  <div style="padding: 20px 0;">
    You can add/change/remove notes/rests and lyrics here.
    <br>
    Notes/rests in the first box (space delimited), then lyrics in the second(comma delimited).
    <br>
    Don't worry about getting the time signature (i.e notes/rests per line), just update and it'll be reformatted for you.
  </div>

  <%= render 'edit_text_area', form: f %>

  <br>
  <%= f.submit %>
  <%= link_to 'Delete', @tune, confirm: 'Sure?', method: :delete %>
<% end %>

