<%= form_for @tune do |f| %>
  <h1><%= f.text_field :name %></h1>

  <div style="padding: 20px 0;">
    You can changes notes and add/change lyrics here.
    <br>
    Notes on the first row, then lyrics, alternating.
    <br>
    We don't yet support adding or removing notes from this, you'll just have delete this and create a new tune with the correct number of notes (working on this!).
  </div>

  <%= render 'tune_notes_lyrics', note_lyrics: @tune.notes.zip(@tune.lyrics), form: f %>
  <br>
  <%= f.submit %>
  <%= link_to 'Delete', @tune, confirm: 'Sure?', method: :delete %>
<% end %>
