<h1>Tunes</h1>

<p>We have <%= @notes.sort.to_sentence %> available.</p>

<p>
Below is a list of all the tunes available, and whether we've matched them.
<br>
If a tune can be played in a different key to the given one, it'll be shifted accordingly.
</p>

<% @tunes.each do |t, t_match_notes| %>
  <hr>
  <% if t_match_notes[:matches].present? %>

    <h2><%= t.name %> <small><%= link_to 'more', t %></small></h2>
    <p>Requires: <%= t.notes.uniq.sort.to_sentence %></p>
    <p><b>Got <%=  pluralize t_match_notes[:matches].size, 'version' %>!</b></p>
  <% else %>
    <h2><%= t.name %> <small><%= link_to 'more', t %></small></h2>
    <p>Requires: <%= t.notes.uniq.sort.to_sentence %></p>
    <b>Missing notes</b>, best match is <%= ((t_match_notes[:best_match_count] / t.notes.uniq.size.to_f) * 100).round %>% there!
  <% end %>

<% end %>
