<h1><%= @tune.name %></h1>

<h2>Original <%= link_to nil, 'play', class: 'play-tune', data: { notes: @tune.notes.map(&:to_midi) } %></h2>

<%= render 'tune_notes', notes: @tune.notes %>

<% @matches.each_with_index do |m, i| %>
  <hr>
  <% notes =  @tune.notes.map { |n| m[n] } %>
  <h2>Version <%= i + 1 %> in <%= notes.first %> <small><%= link_to 'more', tune_version_path(@tune.id, i + 1) %></small></h2>

  Players:
  <% notes_uniq = notes.uniq %>
  <ol class="note-count-<%= notes_uniq.size %>">
    <% notes_uniq.each_with_index do |n, i| %>
      <% players = Player.with_note(n).map(&:name).to_sentence %>
      <li><span class="note-<%= i %>"><%= n %></span> by <%= players %></li>
  <% end %>
</ol>
<% end %>
