<h2><%= @tune.name %> <small><%= link_to 'edit', edit_tune_path(@tune) %></small></h1>

<% @match_versions.each_with_index do |v, i| %>
  <hr>
  <h2><%= link_to "in #{ v.transpose.key }", tune_version_path(@tune.id, i + 1) %></h2>

  <%= v.transpose.uniq_notes.map { |n| Player.with_note(n).size }.sum %> Players:
  <%= render 'tune_players', uniq_notes: v.transpose.uniq_notes %>
<% end %>

<% if @match_versions.empty? %>
  <h2>
    <%= link_to "in #{ @best_version.available_mapping.first.first }", tune_version_path(@tune.id, 'best') %>
</h2>

  <%= @best_version.transpose.uniq_notes.map { |n| Player.with_note(n).size }.sum %> Players:
  <%= render 'tune_players', uniq_notes: @best_version.transpose.uniq_notes %>

  missing notes:
  <ol id="tune-missing">
    <% @best_version.mapping.each do |_tune_note, version_note| %>
      <% next unless Player.with_note(version_note).empty? %>
      <li><span><%= version_note %></span></li>
    <% end %>
  </ol>
<% end %>
