<h1><%= @tune.name %> <small><%= link_to 'edit', edit_tune_path(@tune) %></small></h1>

<h2>Original <%= link_to nil, 'play', class: 'play-tune', data: { notes: @tune.notes.map(&:to_midi) } %></h2>

<%= render 'tune_notes_lyrics', note_lyrics: @tune.notes.zip(@tune.lyrics) %>

<% @matches.each_with_index do |m, i| %>
  <hr>
  <% notes =  @tune.notes.map { |n| m[n] } %>
  <h2>Version <%= i + 1 %> in <%= notes.first %> <small><%= link_to 'more', tune_version_path(@tune.id, i + 1) %></small></h2>

  <%= notes.uniq.map { |n| Player.with_note(n).size }.sum %> Players:
  <%= render 'tune_players', notes: notes %>
<% end %>
