<h1><%= @tune.name %> <small><%= link_to 'edit', edit_tune_path(@tune) %></small></h1>

<% @match_versions.each_with_index do |v, i| %>
  <hr>
  <h2>in <%= v.transpose.key %> <small><%= link_to 'more', tune_version_path(@tune.id, i + 1) %></small></h2>

  <%= v.transpose.uniq_notes.map { |n| Player.with_note(n).size }.sum %> Players:
  <%= render 'tune_players', uniq_notes: v.transpose.uniq_notes %>
<% end %>
