<!DOCTYPE html>
<html>
  <head>
    <title>Dingr</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div>
      <%= link_to 'Players', players_path, class: 'nav' %>
      <%= link_to 'Tunes', tunes_path, class: 'nav' %>
      <%= mail_to 'dukedave@gmail.com', 'contact', style: 'float: right;' %>
    </div>

    <%= yield %>

  </body>
</html>
